<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Oracle_Lite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Oracle_Lite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Oracle_Lite.Properties.Settings>
            <setting name="RealmList" serializeAs="String">
                <value>logon.frostworn.com</value>
            </setting>
            <setting name="GamePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ClearCache" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HDTextures" serializeAs="String">
                <value>False</value>
            </setting>
        </Oracle_Lite.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Oracle_Lite.Properties.Settings>
            <setting name="ApiTarget" serializeAs="String">
                <value>https://frostworn.com/vision_lite/vision.php</value>
            </setting>
            <setting name="SliderDelaySeconds" serializeAs="String">
                <value>7</value>
            </setting>
        </Oracle_Lite.Properties.Settings>
    </applicationSettings>
</configuration>